/* Títulos */
h1, h2 {
    text-align: center;
    color: #2c4a1f;
    margin-bottom: 10px;
}

.underline-limited {
    width: 120px;
    border-bottom: 2px solid #2c4a1f;
    margin: 0.5rem auto 1.5rem auto;
}

/* ==============================
   FORMULÁRIOS
   ============================== */
label {
    font-weight: 600;
    color: #2c4a1f;
    display: block;
    margin-bottom: 6px;
}

input, textarea, select {
    width: 100%;
    padding: 10px;
    border: 1.5px solid #234012;
    border-radius: 6px;
    margin-bottom: 15px;
    font-size: 1em;
}

input:focus, textarea:focus, select:focus {
    outline: none;
    border-color: #4a7a2d;
    box-shadow: 0 0 6px #adbd9c;
}

/* Botão */
button {
    background-color: #ffffff;
    color: #fff;
    border: none;
    padding: 12px 20px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    transition: background 0.2s ease;
}

button:hover {
    background-color: #ffffff;
}


.header {
display: flex;
justify-content: space-between;
align-items: center;
padding: 12px 24px;
background: linear-gradient(90deg, #9db98c, #9db98c);
box-shadow: 0 4px 12px rgba(0,0,0,0.2);
position: relative;
}
.nav-links a img {
height: 40px;
transition: transform 0.2s ease;
}
.nav-links a img:hover {
transform: scale(1.1);
}
.nav-links {
display: flex;
gap: 100px;
justify-content: center;
flex: 1;
}
.actions img {
  height: 22px;   /* tamanho menor */
  cursor: pointer;
  transition: transform 0.2s ease;
}
.actions img:hover {
transform: rotate(90deg);
}
.dropdown {
position: absolute;
top: 50px;
right: 24px;
background: #ffffff;
border-radius: 10px;
box-shadow: 0 4px 12px rgb(255, 255, 255);
overflow: hidden;
padding: 10px 0;
display: none;
}
.dropdown.active {
display: block;
}
.dropdown .item {
display: flex;
align-items: center;
gap: 10px;
padding: 12px 20px;
text-decoration: none;
color: #333;
transition: background 0.2s ease;
}
.dropdown .item:hover {
background: #d9e7cf;
}
.dropdown img {
height: 40px;
width: auto;
}

